main.main
	section.candidate#resume(data-scroll-section="true")
		.candidate__inner.container

			.candidate__left(data-aos="fade-up" data-aos-duration="1000")

				a.candidate__logo.logo(href=data.header.links.logo)
					+img-retina(`logo`, `png`, `логотип`, `logo__img`, `150`, `150`)

				h1.candidate__title
					| Имя кандидата,
					br
					| Желаемая позиция

			.candidate__right.contacts
				.contacts__inner
					a.contacts__item.mail.link-hover(href="mailto:al.tulin@gmail.com")
						span.link-hover__span(data-letters="al.tulin@gmail.com") al.tulin@gmail.com
					a.contacts__item.phone.link-hover(href="tel:+7 (902) 515-96-32")
						span.link-hover__span(data-letters="+7 (902) 515-96-32") +7 (902) 515-96-32
					p.contacts__item.town г. Иркутск

				.contacts__socials.socials
					a.socials__item.socials__item--fb(href="#" aria-label="фэйсбук")
						+svg("fb")
					a.socials__item.socials__item--vk(href="#" aria-label="в контакте")
						+svg("vk")
					a.socials__item.socials__item--tg(href="https://t.me/altulin" aria-label="телеграмм")
						+svg("tg")

			.candidate__text-block()

				p.candidate__text(data-aos="fade-up" data-aos-duration="1000") Как разработчик, я высоко ценю способность воплотить видение дизайнера в жизнь, что считаю очень полезным для бизнеса. Я получаю огромное удовлетворение, наблюдая за работой от идеи до дизайна, особенно когда она появляется в руках пользователя. Я считаю, что ориентированные на пользователя решения являются наиболее ценными цифровыми ресурсами будущего.

	section.standing#about(data-scroll-section="true")
		h2.standing__title.visually-hidden Мой стаж работы и образование
		.standing__inner.container

			.standing__left.experience
				h3.experience__title.title Опыт работы
				ul.experience__list
					each item, key in data.points
						li.experience__item.pointer
							p.pointer__item.pointer__date= item.date

							.pointer__item.corp

								p.corp__title(class=`corp__title-${key}`)= item.corp
									span.corp__rhombus.rhombus
										- let num = Math.floor(Math.random() * 4) + 1;
										- let n = 0;
										while n<num
											- n++
											span.rhombus__item(class=`rhombus__item-${n}`)

								.corp__inner
									if item.logo
										figure.corp__logo(class=`corp__logo--${key}`)
										p.corp__slogan= item.logo

									p.pointer__item.pointer__location= item.location

							p.pointer__item.pointer__text= item.desk

							if item.link_1
								a.pointer__item.pointer__link(href="#")= item.link_1

							if item.link_2
								a.pointer__item.pointer__link(href="#")= item.link_2

			.standing__right.education
				h3.education__title.title Образование
				ul.education__list
					each item, key in data.skills
						li.education__item.skill
							figure.skill__img(class=`skill__img-${key + 1}`)
							p.skill__job= item.job
							p.skill__text= item.text

			.standing__man.man()
				figure.man__img-wrap
					+img-retina(`man`, `png`, `мужчина`, `man__img`, `500`, `500`, 768)

	section.attainments#skills(data-scroll-section="true")
		.attainments__inner.container
			h2.attainments__title.title Навыки
			ul.attainments__list
				each item in data.attainments
					li.attainments__item
						h3.attainments__sub-title= item.title
						p.attainments__text= item.text
